a {
    text-decoration: none;
}
body {
    padding-top: 88px;
}
html, body {height: 100%;}
.flex-shrink-0, .thisPage {
    position: fixed;
    max-height: 80%;
    overflow-y: auto;
}
header {
    width: 100%;
    top: 0;
    position: fixed;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {flex: 1 1 auto;}
.bi-chevron-right::before {
    transition: all 0.2s ease-in-out;
}
.bi-chevron-up::before {
    transition: all 0.2s ease-in-out;
}
.btn-success:not(.collapsed) > .bi-chevron-right::before {
    transform: rotate(90deg);
}
.hd:not(.collapsed) > .bi-chevron-up::before {
    transform: rotate(180deg);
}
.hd {
    cursor: pointer;
}
pre {
    width: 100%;
    padding: 10px;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 20px;
    background: #000;
    border: 1px solid #777;
    color: #fff;
}
pre .a {
    color: #f74;
}
pre .c {
    color: #999;
}
pre .s {
    color: #4f4;
}
pre .y {
    color: #ff9;
}
@media screen and (max-width: 1399px) and (min-width: 991px) {
    .flex-shrink-0, .thisPage {
        margin-left:-20px;
    }
}
@media screen and (max-width: 991px) and (min-width: 483px) {
    body {
        padding-top: 146px;
    }
}
@media screen and (max-width: 484px) {
    body {
        padding-top: 191px;
    }
}
